@font-face {
  font-family: 'Chiller';
  src: url('chiller.ttf') format('truetype');
}

nav{
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100;
}
.nav_bar{
    max-width:1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.title{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav_btn {
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 27px;
    transition: 0.3s;
    display: inline-block;
}

.nav_btn:hover {
    background-color: #04AA6D;
    color: #333;
    box-shadow: 5px 5px 9px yellowgreen;
}

.nav_btn:active {
    opacity: 0.5;
}

.nav_btn.active {
    color: yellowgreen;
}


body{
    margin: 60px 30px;
    padding: 10px;
    font-family: 'Chiller';
    font-size: 30px;
    background-color: rgb(173, 160, 182);
    background-image: url("../images/halloween.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.big_content_box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 30px;
}
.sub_content_box{
    display: flex;
    text-align: center;
}
.left{
    flex: 2;
    padding: 20px;
}
.animatedText {
    display: block;
    height: 50px;
    color: #747632;
    font-size: 70px;
}
.right{
    flex: 1;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(234, 248, 208, 0.5);
    padding: 10px;
    align-self: flex-start;
}
.right:hover{
    background-color: rgb(245, 253, 230);
}
.emi{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(58, 58, 58);
}

.two_btns{
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 25px;
    transition: 0.3s;
    margin-left: 100px;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}

.two_btns:hover{
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.two_btns:active{
    opacity: 0.5;
}

.intro_content_box{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 50px;
    border: 2px solid black;
    border-radius: 30px;
    padding-top: 0px;
    margin: 20px 0;
}

.four_boxes{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.boxes{
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208, 0.5);
    text-align: center;
    transition: 0.3s;
}
.boxes:hover{
    background-color: rgb(245, 253, 230);
}

.destination_bg{
    background-color: rgb(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 30px;
    padding-top: 0px;
    padding: 50px;
    margin-top: 20px;
}

.search_bar{
    padding: 12px 12px;
    margin-left: 280px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: inset 7px 7px 6px rgba(0,0,0,0.12);
    width: 50%;
    font-size: 40px;
    font-family: 'Chiller';
}

.search_bar::placeholder {
    font-family: 'Chiller';
    font-size: 35px;
}

.destination_boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.dest_img{
    width: 100%;
    object-fit: cover;
    height: 150px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.dest_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img_des{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(200, 229, 142, 0.8);
}

.destination_box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208, 0.5);
    text-align: center;
    transition: 0.3s;
}
.destination_box:hover{
    background-color: rgb(245, 253, 230);
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
    cursor: pointer;
}
.destination_box:active{
    opacity: 0.5;
}
.package_boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.package_box {
    width: 230px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208, 0.8);
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
}
.package_box:hover{
    background-color: rgb(245, 253, 230);
}

.book_now_button{
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Chiller';
    transition: 0.3s;
    margin: auto;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}

.book_now_button:hover{
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.book_now_button:active{
    opacity: 0.5;
}

.package_itinerary_image{
    width: 50%;
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin: auto;
    overflow: hidden;
}

.package_itinerary_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.package_itinerary_modal {
    display: none;
    inset: 0;
    background-color: rgb(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid #333;
    z-index: 500;
}

.contact{
    display: flex;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 20px 0;
    border: 2px solid black;
    border-radius: 30px;
    padding: 50px;
    padding-top: 0px;
}

.contact_form{
    flex: 2;
    padding: 20px;
}

.contact_details{
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
    background-color: rgb(234, 248, 208, 0.5);
    align-self: flex-start;
}

.input_fields{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: inset 7px 7px 6px rgba(0,0,0,0.12);
    font-size: 30px;
    font-family: 'Chiller';
}

.costum_select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: inset 7px 7px 6px rgba(0,0,0,0.12);
    font-size: 20px;
    font-family: 'Chiller';
}
.submit_contact{
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Chiller';
    transition: 0.3s;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}

.submit_contact:hover{
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.submit_contact:active{
    opacity: 0.5;
}

.about_content{
    display: flex;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 50px;
    border: 2px solid black;
    border-radius: 30px;
    padding-top: 0px;
    margin: 20px 0;
}

.our_story{
    flex: 2;
    padding: 20px;
}
.fast_facts{
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 100px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(234, 248, 208, 0.5);
    align-self: flex-start;
    flex: 1;
}
.copyright{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: white;
    background-color: #525151;
    border: 2px solid black;
    border-radius: 30px;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: rgb(234, 248, 208);
    padding: 20px;
    border-radius: 20px;
    border: 2px dashed black;
    text-align: center;
    width: 300px;
}

.modal-content button {
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 25px;
    color: #333;
    border: black solid 2px;
    background-color: #349974;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Chiller';
    font-size: 25px;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    justify-content: center;
    transition: 0.3s;
}
.modal-content button:hover {
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}
.modal-content button:active {
    opacity: 0.5;
}

.js-your-trips-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}

.trip-card {
    background-color: rgb(255, 255, 255, 0.8);
    border: 2px solid #333; 
    border-radius: 12px;
    padding: 25px 60px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 100%;
}

.trip-card h3 {
    margin: 0;
    font-size: 50px;
    text-decoration: underline dashed;
}

.trip-card p {
    margin: 6px 0;
    font-size: 30px;
    color: #433e3e;
}

.trip-card strong {
    font-weight: bold;
    font-size: 30px;
}

.delete-form-btn {
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Chiller';
    transition: 0.3s;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}

.delete-form-btn:hover {
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.delete-form-btn:active {
    opacity: 0.5;
}

.destination_detail_img {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 15px;
    border : 2px solid black; 
}

.destination_detail_img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(65%); /* darkens image for readable text */
}

.destination_detail_img_text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.destination_detail_img_text h1 {
    margin: 0;
}

.destination_detail_img_text p {
    margin-top: 10px;
}

.destination_detail_info {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.8);
}

.destination_detail_info strong {
    font-weight: bold;
    font-size: 35px;
    padding: 0 10px;
    text-decoration: underline dashed;

}

