@font-face {
  font-family: 'Chiller';
  src: url('chiller.ttf') format('truetype');
}

nav{
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100;
}
.nav_bar{
    max-width:1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.title{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}
.nav_btn{
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.3s;
}
.nav_btn:hover{
    background-color: #04AA6D;
    color: #333;
    box-shadow: 5px 5px 9px yellowgreen;
}
.nav_btn:active{
    opacity: 0.5;
}
body{
    font-family: Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    padding: 10px;
    font-family: 'Chiller';
    font-size: 30px;
    background-color: rgb(173, 160, 182);
    
}
.big_content_box{
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 20px;
    background-color: rgb(176, 196, 135);
    border: 2px solid black;
    border-radius: 30px;
}
.sub_content_box{
    display: flex;
    text-align: center;
}
.left{
    flex: 2;
    padding: 20px;
    font-size: 27px;
}
.right{
    flex: 1;
    margin-top: 100px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgba(198, 214, 165, 0.9);
    padding: 10px;
    align-self: flex-start;
}
.right:hover{
    background-color: rgba(219, 237, 184, 0.9);
}
.emi{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(58, 58, 58);
}

.two_btns{
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.3s;
    margin-left: 100px;
    font-weight: bold;
}

.two_btns:hover{
    background-color: #349974;
    color: #333;
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.two_btns:active{
    opacity: 0.5;
}

.four_boxes{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.boxes{
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208);
    text-align: center;
    transition: 0.3s;
}
.boxes:hover{
    background-color: rgb(245, 253, 230);
}

.search_bar{
    padding: 12px 12px;
    margin-left: 400px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: inset 7px 7px 6px rgba(0,0,0,0.12);
    width: 30%;
    font-size: 40px;
    font-family: 'Chiller';
}

.search_bar::placeholder {
    font-family: 'Chiller';
    font-size: 35px;
}

.destination_boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.dest_img{
    width: 100%;
    max-width: 230px;
    height: 150px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid black;
    overflow: hidden;
}

.dest_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.img_des{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(200, 229, 142);
}

.destination_box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208);
    text-align: center;
    transition: 0.3s;
}
.destination_box:hover{
    background-color: rgb(245, 253, 230);
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
    cursor: pointer;
}
.destination_box:active{
    opacity: 0.5;
}
.package_boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.package_box {
    width: 230px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208);
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
}
.package_box:hover{
    background-color: rgb(245, 253, 230);
}

.book_now_button{
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.3s;
    margin: auto;
    font-weight: bold;
}

.book_now_button:hover{
    color: #333;
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.book_now_button:active{
    opacity: 0.5;
}

.package_itinerary_image{
    width: 50%;
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin: auto;
    overflow: hidden;
}

.package_itinerary_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.package_itinerary_modal {
    display: none;
    inset: 0;
    background-color: rgba(226, 235, 208, 0.5);
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    margin-top: 50px;
    border-radius: 20px;
    border: 2px solid #333;
}

.contact{
    display: flex;
    font-weight: bold;
}
.contact_form{
    flex: 2;
    padding: 20px;
}
.contact_details{
    margin-left: 50px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(234, 248, 208);
    align-self: flex-start;
}

.input_fields{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: inset 7px 7px 6px rgba(0,0,0,0.12);
    font-size: 30px;
    font-family: 'Chiller';
}

.costum_select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: inset 7px 7px 6px rgba(0,0,0,0.12);
    font-size: 20px;
    font-family: 'Chiller';
}
.submit_contact{
    justify-content: center;
    background-color: #349974;
    color: #333;
    border: black solid 2px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    transition: 0.3s;
    margin-top: 10px;
    font-weight: bold;
}

.submit_contact:hover{
    color: #333;
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}

.submit_contact:active{
    opacity: 0.5;
}

.about_content{
    display: flex;

}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(234, 248, 208);
    padding: 20px;
    border-radius: 20px;
    border: 2px dashed black;
    text-align: center;
    width: 300px;
}

.modal-content button {
    margin-top: 15px;
    padding: 6px 14px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: #349974;
    cursor: pointer;
    font-weight: bold;
}
.modal-content button:hover {
    box-shadow: 5px 5px 9px rgb(0, 0, 0);
}
.modal-content button:active {
    opacity: 0.5;
}

.our_story{
    flex: 2;
    padding: 20px;
    font-size: 25px;
}
.fast_facts{
    margin-left: 50px;
    margin-top: 100px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(234, 248, 208);
    align-self: flex-start;
    flex: 1;
}
.copyright{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    background-color: #525151;
}

